html {
  background-color: #fff;
  color: #2f2f2f;
}

html {
  background-color: #5ac3bf;
  color: #2f2f2f;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3b2c4e;
  color: #fff;
}

/*header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5ac3bf;
  color: #fff;
}*/

header > div{
  margin-top: 20px;
}

p, body {
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 26px;
}

h1 {
  color: #292929;
  font-family: 'Titillium Web', sans-serif;
  font-size: 35px;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  margin: 0;
  line-height: 50px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 100;
  margin: 0;
}

section {
  display: flex;
  color: #585858
}

.hero {
  width: 100vw;
  height: 350px;
}

.left-pane {
  flex-grow: 1;
  width: 50vw;
  margin: 50px;
}

.right-pane {
  flex-grow: 1;
  width: 50vw;
  background-color: #a5eef3;
}

.full-pane{
  margin: 50px;
  width: 100vw;
}

.cta {
  cursor: pointer;
  padding: 15px 70px;
  background-color: #f17272;
  text-align: center;
  font-size: 18px;
  border-radius: 6px;
}

.cta:hover {
  color: #f17272;
  background-color: #fff;
}

.icon-containers {
  font-size: 30px;
}

.icon-containers i {
  padding: 0px 10px;
}

.icon-containers a:hover {
  color: #fff;
}

.medium-link {
  color: #8bffd1;
}

.linkedin-link {
  color: #5bcfff;
}

.instagram-link {
  color: #fff390;
}

.github-link {
  color: #b499ff;
}