html {
  background-color: #fff;
  color: #2f2f2f;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #444;
  background-color: #fff;
}

html,
body,
header {
  width: 100%;
  height: 100%;
}

header > div {
  margin-top: 20px;
}

p,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

p {
  line-height: 26px;
}

h1 {
  color: #292929;
  font-family: "Titillium Web", sans-serif;
  font-size: 48px;
  margin: 0;
}

h2 {
  letter-spacing: 7px;
  margin-left: 7px;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  margin: 0;
  line-height: 50px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 100;
  margin: 0;
}

section {
  display: flex;
  color: #585858;
  border-top: 1px solid #bfbfbf;
}

.hero {
  width: 100vw;
  height: 350px;
}

.left-pane {
  flex-grow: 1;
  width: 50vw;
  margin: 50px;
}

.right-pane {
  flex-grow: 1;
  width: 50vw;
  background-color: #a5eef3;
}

.full-pane {
  margin: 50px;
  margin-bottom: 80px;
  width: 100vw;
}

.flex-row-wrap {
  display: flex;
  flex-wrap: wrap;
}

.tech-group {
  flex-grow: 1;
  min-width: 200px;
}

.tech {
  font-weight: 400;
  margin-bottom: 5px;
}

.sub-tech {
  margin: 0;
}

.cta {
  cursor: pointer;
  padding: 15px 70px;
  background-color: #f17272;
  text-align: center;
  font-size: 18px;
  border-radius: 6px;
}

.cta:hover {
  color: #f17272;
  background-color: #fff;
}

.icon-containers {
  font-size: 30px;
}

.icon-containers i {
  padding: 0px 10px;
}

.icon-containers a:hover {
  color: #fff;
}

/*.medium-link {
  color: #8bffd1;
}

.linkedin-link {
  color: #5bcfff;
}

.instagram-link {
  color: #fff390;
}

.github-link {
  color: #b499ff;
}*/
